@model TabloidMVC.Models.ViewModels.PostTagViewModel

@{
    ViewData["Title"] = "TagManagement";
}

<h1>Tag Management</h1>

<h4>PostTagViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TagManagement">
            <input type="hidden" asp-for="Post.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="SelectedTagId" class="form-control">
                    @foreach (var tag in Model.TagOptions)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
